[Unit]
Description=Start DPMS enforcement
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
PIDFile=/run/enforce-dpms.pid
ExecStart=/usr/local/sbin/enforce-dpms.sh

Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
